@charset "utf-8";
/* Name: Justin Dowell
   Date: 02/08/2017*/

body{
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	background-color: #c0e59b;
}

h1{
	text-align: center;
}

h2{
	color: navy;
}

h3{
	color: navy;
	font-style: bold;
}

p{
	text-indent: 5em;
	line-height: 1.5em;
}

h4{
	text-transform: uppercase;
	font-style: italic;
	color: maroon;
}